<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="/">CareerConnect</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto">

        {% if user.is_authenticated %}

            {% if user.role == 'STUDENT' %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student_dashboard' %}">Dashboard</a>
                </li>

            {% elif user.role == 'RECRUITER' %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'recruiter_dashboard' %}">Recruiter Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_job' %}">Add Job</a>
                </li>

            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>

        {% else %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Login</a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'student_login' %}">Student Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'recruiter_login' %}">Recruiter Login</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Register</a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'student_register' %}">Student Register</a></li>
                    <li><a class="dropdown-item" href="{% url 'recruiter_register' %}">Recruiter Register</a></li>
                </ul>
            </li>

        {% endif %}

      </ul>

    </div>
  </div>
</nav>